[Desktop Entry]
Name=Porn Time
Comment=Stream porn movies from torrents. Skip the downloads. Launch, click, watch.
Exec=porntime %U
Icon=porntime-bin
Terminal=false
Type=Application
Categories=Player;AudioVideo;Video;Network;
